<h1>Chat room<span id='room'><%= @room.id %></span></h1>

<div id="messages"  data-bind='with: room'>
  <ul data-bind='foreach: messages'>
    <li data-bind='text: content'></li>
  </ul>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
